body {
    background: #4ae;
    color: #000040;
}

h1, h2, #stopka {
    background: #0000a0;
    color: #ffffff;
    text-align: center;
}

/* tło kontenera */
#kontener {
    background: #ffffff;
}

/*pozycjonowanie elementów: */
#menu {
    float: left;
    width: 16%;
    padding: 1%;
    background: #ffffff;
}

#tresc {
    float: left;
    width: 60%;
    padding: 1%;
    background: #bfe0ff;
}

#pasek {
    float: right;
    width: 16%;
    padding: 1%;
}

/* umieszczenie stopki poniżej elementów z float */
#stopka {
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}

/* formatowanie dla elementu klasy box */
*.box { 
    background: #0000a0;
    color: #dbffff;
    padding: 5px;
    margin: 5px;
    font-size: 90%;
}

/* hiperłącza w elementach klasy box*/
*.box a {
    color: #ffffb0;
}
