body {
    background: #4ae;
    color: #000040;
}

h1, h2, #stopka {
    background: #0000a0;
    color: #ffffff;
    text-align: center;
}

/* tło kontenera */
#kontener {
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
}

/*Nowa nawigacja*/
#nav {
 text-align: left;
 overflow: hidden;
 font-family: calibri, tahoma;
}
ul#nav li {
 border: 1px solid #d5d5d5;
 list-style-type: none;
 float: left;
 background: #98bed8;
 margin-left: 3px;
}
ul#nav li:hover {
 border: 1px solid #d5d5d5;
 list-style-type: none;
 float: left;
 background: #f0f0f0;
 margin-left: 3px;
}
ul#nav li a {
 display : block;
 padding : 4pt;
 text-decoration : none;
}
ul#nav li li a {
 width: 160px;
}
ul#nav li li:hover {
 background: white;
}
ul#nav li ul {
 overflow: hidden;
 display: none;
}
ul#nav li:hover ul {
 position: absolute;
 background: #aaa;
 padding: 0;
 display: block;
 width: 177px;
}

#tresc {
    float: right;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #bfe0ff;
}

/* umieszczenie stopki poniżej elementów z float */
#stopka {
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input, select {
    margin: 5px;
    padding: 2px;
}

form {
    background-color: #ffffff;
    padding: 10px;
}

input[type="submit"], input[type="reset"] {
    margin: 5px;
    padding: 5px 10px;
}