body {
    background: #4ae;
    color: #000040;
}

h1, h2, #stopka {
    background: #0000a0;
    color: #ffffff;
    text-align: center;
}

#menu {
    background: #ffffff;
}

#tresc {
    background: #bfe0ff;
}
